@import "bootstrap";

//== Mixins
@mixin bottom-line($color) {
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        position: absolute;
        left: $grid-gutter-width / 2;
        bottom: 0;
        height: 1px;
        width: 40px;
        border-bottom: 1px solid $color;
    }
}

//== Colors
h1 {
    color: $gray-dark;
}
h2 {
    color: $gray-darker;
}
h3 {
    color: $brand-primary;
}

.post {
    .tags,
    .published,
    .author a {
        color: $gray-lighter;
    }
}

#call-to-action {
    background-color: $brand-info;
}
footer {
    background-color: $brand-primary;
    color: $gray-light;

    h3,
    .country a {
        color: #FFF;
    }
}

//== Typography
h1, h2 {
    text-transform: uppercase;
}
h3 {
    font-family: $font-family-sans-serif;
}
blockquote {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: $font-size-large;
    line-height: 1.1em;
}
address {
    font-family: $font-family-serif;
    font-style: italic;
    line-height: 1.6em;
}

.tags,
.read-more {
    font-size: $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
}

#call-to-action {
    font-size: 28px;
    font-family: "Helvetica";
    font-weight: bold;
}
footer {
    font-size: $font-size-small;

    .country,
    .copyright {
        font-size: 10px;
    }
}

//== Layout
h1 {
    margin-bottom: 2.4rem;
}
p {
    margin: 0 0 1.3em;
}
img {
    @extend .img-responsive;
}
blockquote {
    margin: 3rem 0;
    padding: 1.3em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0;
}

.post {
    header {
        margin-bottom: 1em;
        @include bottom-line($gray-lighter);

        h2 {
            margin: .05em 0 .15em;
        }
    }
}
.read-more {
    display: block;
    margin-top: 2em;

    &:after {
        content: " >";
    }
}

header {
    margin: 2.5rem 0;

    #logo {
        @extend .center-block;
    }
}
#featured-image {
    img {
        @extend .center-block;
    }
}
#main {
    margin-top: 7rem;
}
#call-to-action {
    margin-top: 4rem;
    padding: 1.9em 0;
    text-align: center;

    p {
        margin: 0;
    }
}
footer {
    text-align: center;

    section {
        padding-top: 1.3rem;
        border-bottom: 1px solid #4C4C4C;

        &.country {
            display: none;
        }

        &.copyright {
            padding: 2.5rem 0;

            p {
                margin: 0;
            }
        }
    }
}

//== Grid
#featured,
#main,
footer .wrapper {
    @include container-fixed;

    .inner {
        @include make-row;

        >* {
            @include make-xs-column(12);
        }
    }
}

@media(min-width:$screen-md-min) {
    //== Grid
    #featured,
    #main {
        .inner >* {
            @include make-xs-column(6);
        }
    }

    footer .wrapper {
        .inner >* {
            display: block;
            @include make-xs-column(4);
        }
        .copyright {
            @include make-xs-column(12);
        }
    }
}
