@import "bootstrap";

//== Colors
h1 {
    color: $gray-dark;
}
h2 {
    color: $gray-darker;
}
h3 {
    color: $brand-primary;
}

.post {
    .tags,
    .published,
    .author a {
        color: $gray-lighter;
    }
}
#call-to-action {
    background-color: $brand-info;
}
footer {
    background-color: $brand-primary;
    color: $gray-light;

    h3 {
        color: #FFF;
    }
}

//== Typography
h1, h2 {
    text-transform: uppercase;
}
blockquote {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: $font-size-large;
    line-height: 1.1em;
}
address {
    font-family: $font-family-serif;
    font-style: italic;
    line-height: 1.6em;
}
